#!/bin/bash

cd {{ pillar['harproxy_ins'] }}/haproxy-{{ pillar['haproxy-version'] }}

make clean
make -j $(grep 'processor' /proc/cpuinfo |wc -l)  \
	TARGET=linux-glibc  \
	USE_OPENSSL=1  \
	USE_ZLIB=1  \
	USE_PCRE=1  \
	USE_SYSTEMD=1 &&
make install PREFIX={{ pillar['harproxy_ins'] }}/haproxy





